* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}


/*左侧商品区域 */
.wrapper {
    width: 100%;
}

.wrapper .main {
    width: 70%;
    min-height: 400px;
}

.wrapper .main ul {
    /* margin: 30px; */

}

.wrapper .main ul li {
    float: left;
    margin: 10px 10px;
    width: 180px;
    height: 360px;
    font-size: 12px;
}

.wrapper .main ul li:hover {
    border: 1px solid #f40;
    margin: 9px 9px;
}

.wrapper .main ul li img {
    width: 100%;
    height: 60%;
    /* border: 1px solid #aaa; */
}

.wrapper .main ul li .buy-msg {
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
}

.wrapper .main ul li .buy-msg .item-price {
    color: #f40;
    font-size: 16px;
    font-weight: bolder;
}

.wrapper .main ul li .buy-msg .express {
    display: inline-block;
    padding: 0 1px;
    background-color: #f40;
    color: #fff;
    height: 16px;
    line-height: 16px;
    
}
.wrapper .main ul li .buy-msg .pay-num {
    float: right;
    color: #888;
}

.wrapper .main ul li .item-shop {
    padding: 5px 10px;
}

.wrapper .main ul li .item-shop .shop-name {
    float: right;
}

.wrapper .main ul li .item-shop .shop-name a{
    color: #888;
    text-decoration: underline;
}

.wrapper .main ul .item .btnList {
    padding: 10px;
}

/* .wrapper .main ul .item .btnList::after {
    content: "";
    display: block;
    clear: both;
} */

.wrapper .main ul .item .btnList button {
    width: 72px;
    height: 30px;
    border: none;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

.wrapper .main ul .item .btnList .add-cart {
    float: left;
    background-color: #f40;
}

.wrapper .main ul .item .btnList .add-like {
    float: right;
    background-color: #ff0036;
}


/* 右侧边栏区域 */
.wrapper .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 315px;
    height: 100%;
}

.wrapper .sidebar .user-message{
    float: left;
    width: 35px;
    height: 100%;
    background: #000;
}

.wrapper .sidebar .user-message .content {
    margin-top: 150px;
    width: 100%;
    cursor: pointer;
}

.wrapper .sidebar .user-message .content .first img {
    width: 100%;
    border-radius: 50%;
}

.wrapper .sidebar .user-message .content .second i {
    display: inline-block;
    margin-top: 17px;
    width: 35px;
    height: 26px;
    background: url("./img/cart.jpg") no-repeat 4px 0px;
} 

.wrapper .sidebar .user-message .content .second .con {
    box-sizing: border-box;
    margin: 0 auto;
    width: 25px;
    padding: 0 7px;
    color: #fff;
    font-size: 12px;
}

.wrapper .sidebar .user-message .content .second .item-num {
    display: block;
    margin: 8px auto;
    font-size: 12px;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    background-color: #ff0036;
    text-align: center;
}

.wrapper .sidebar .user-message .content .third i{
    display: inline-block;
    margin-top: 17px;
    width: 35px;
    height: 26px;
    background: url("./img/star.jpg") no-repeat 2px 0px;
}

.wrapper .sidebar .user-message .content .third .like-num {
    display: block;
    margin: 5px auto;
    font-size: 12px;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    background-color: #f40;
    text-align: center;
}


.wrapper .sidebar .user-message .content .third i {
    
}

/* 购物车区域 */
.wrapper .sidebar .shopping-cart{
    float: right;
    width: 280px;
    height: 100%;
    background-color: #e6e6e6
}

.wrapper .sidebar .shopping-cart .item-message {
    width: 100%;
}
.wrapper .sidebar .shopping-cart .item-message  .item-wrapper {
    position: relative;
    width: 100%;
    margin: 12px 0;
    background-color: #fff;
    font-size: 0px;
}
.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item1 {
    width: 90%;
    margin-left: 14px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 {
    margin-left: 14px;
    width: 90%;
    height: 64px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 img {
    margin-top: 8px;
    width: 55px;
    height: 50px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .item-name {
    display: inline-block;
    box-sizing: border-box;
    margin: 8px 5px 0;
    padding: 10px 0;
    width: 55px;
    height: 50px;
    color: #888;
    vertical-align: top;
    font-size: 12px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .btn-wrap {
    display: inline-block;
    margin-top: 8px;
    width: 132px;
    color: #888;
    height: 50px;
    font-size: 12px;
    vertical-align: top;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .btn-wrap .reduce,
.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .btn-wrap .add{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #f3f3f3;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .btn-wrap .count {
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .item-price {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper .item2 .del {
    position: absolute;
    top: 35px;
    right: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: #c0c0c0;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}


.wrapper .sidebar .shopping-cart .item-message  .item-wrapper  .dianpu,
.wrapper .sidebar .shopping-cart .item-message  .item-wrapper  .item-price {
    height: 29px;
    line-height: 29px;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper  .dianpu {
    float: left;
}

.wrapper .sidebar .shopping-cart .item-message  .item-wrapper  .item-price {
    float: right;
}


/* 购物车底部结算 */
.wrapper .sidebar .shopping-cart .msg-bottom {
    position: absolute;
    left: 35px;
    bottom: 10px;
    box-sizing: border-box;
    width: 280px;
    text-align: center;
}

.wrapper .sidebar .shopping-cart .msg-bottom p {
    display: inline-block;
    width: 90%;
}

/* .wrapper .sidebar .shopping-cart .msg-bottom p::after {
    content: "";
    display: block;
    clear: both;
} */

.wrapper .sidebar .shopping-cart .msg-bottom .number{
    float: left;
    font-size: 14px;
}

.wrapper .sidebar .shopping-cart .msg-bottom .sum-price{
    float: right;
    font-size: 14px;
    color: #ff0036;
}

.wrapper .sidebar .shopping-cart .msg-bottom button {
    width: 90%;
    height: 40px;
    border:none;
    background-color: #ff0036;
    color: #fff;
}