* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/*顶部导航栏*/
.global-nav {
    width: 100%;
    background: #545652;
    height: 28px;
    font-size: 0px;
}

.global-nav .global-nav-left {
    float: left;
}

.global-nav .global-nav-right {
    float: right;
    margin-right: 12px;
}

.global-nav  li {
    display: inline-block;
    height: 100%;
}

.global-nav li a {
    display: inline-block;
    padding: 0 12px;
    height: 100%;
    line-height: 28px;
    font-size: 12px;
    color: #d5d5d5;
}


/* 搜索区域 */
.nav-wrapper {
    width: 100%;
    height: 74px;
    border-bottom:  1px solid #ddd;
    background-color: #e3e9e2;
}

.nav-wrapper .nav-main {
    position: relative;
    box-sizing: border-box;
    width: 1040px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0 5px;
}

.nav-wrapper .nav-main .logo {
    float: left;
    height: 100%;
    width: 145px;
    margin-right: 13px;
    background: url('../images/lg_music_a12_2.png') no-repeat 0 12px;

}

.nav-wrapper .nav-main .search-wrapper {
    position: relative;
    box-sizing: border-box;
    margin-left: 145px;
    width: 100%;
    height: 100%;
    padding: 10px 0 15px 0;

}
.nav-wrapper .nav-main .search-wrapper form {
    width: 100%;
    height: 100%;
    font-size: 0px;
}

.nav-wrapper .nav-main .search-wrapper .search-inp {
    height: 100%;
    width: 43%;
    padding-left: 10px;
    font-size: 13px;
    border:none;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.nav-wrapper .nav-main .search-wrapper .search-btn {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    border:none;
    background: url('../images/search_btn.png') no-repeat 0px -38px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-wrapper .nav-main .search-wrapper .search-list {
    position: absolute;
    display: none;
    left: 12px;
    width: 43%;
    border: 1px solid #ddd;
    border-top: none;
    padding: 5px;
    background-color: #fff;
}

.nav-wrapper .nav-main .search-wrapper .search-list li {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.nav-wrapper .nav-main .search-wrapper .search-list li  a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-wrapper .nav-main .search-wrapper .search-list li img {
    width: 50px;
    height: 50px;
}

.nav-wrapper .nav-main .search-wrapper .search-list li a .msg-wrapper{
    display: inline-block;
    vertical-align: top;
}

.nav-wrapper .nav-main .search-wrapper .search-list li span {
    display: block;
    margin: 5px;
    font-size: 13px;
}

.nav-wrapper .nav-main .search-wrapper .search-list li .title {
    color: #09c;
}

.nav-wrapper .nav-main .search-wrapper .search-list li .des {
    color: #999;
}


/* 第二个导航栏 */
.nav-second-wrapper {
    width: 100%;
    height: 40px;
    font-size: 0px;
    margin-bottom: 40px;
}

.nav-second-wrapper .nav-second-main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 9px 0;
    width: 1040px;
    height: 100%;
}

.nav-second-wrapper .nav-second-main li {
    display: inline-block;
    margin-right: 25px;
}

.nav-second-wrapper .nav-second-main li a {
    font-size: 14px;
    color: #555d53;
}

.nav-second-wrapper .nav-second-main li a:hover{
    background-color: #555d53;
    color: #fff;
}
