* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    position: relative;
    margin: 100px auto;
    width: 520px;
    height: 280px;
    border: 3px solid #000;
    overflow: hidden;
}

.wrapper .sliderList {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3120px;
    height: 100%;
}

.wrapper .sliderList li {
    float: left;
    width: 520px;
    height: 100%;
}

.wrapper .sliderList li a,
.wrapper .sliderList li a img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wrapper .btnList {
    position: absolute;
    display: none;
    top: 50%;
    margin-top: -15px;
    width: 100%;
    height: 30px;
}

.wrapper .btnList a {
    display: inline-block;
    width: 35px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.wrapper .btnList .prevBtn {
    float: left;
    border-radius: 0 50% 50% 0;
}

.wrapper .btnList .nextBtn{
    float: right;
    border-radius: 50% 0 0 50%;
}

.wrapper .btnList a span {
    display: inline-block;
    margin-top: 5px;
    width: 10px;
    height: 20px;
}

.wrapper .btnList .prevBtn span {
    background: url('./img/taobao.png') no-repeat -200px -96px;
}

.wrapper .btnList .nextBtn span {
    background: url('./img/taobao.png') no-repeat -200px -116px;
}

.wrapper .indexList {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.wrapper .indexList ul {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 8px;
}

.wrapper .indexList ul li {
    float: left;
    margin: 3px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.wrapper .indexList ul li.active {
    background-color: #f40;
}